﻿@{Layout = "master.cshtml"; }

<tr>
  <td>
    <h2>Welcome!</h2>
  </td>
</tr>
<tr>
  <td class="mui--divider-top">
    Hello,
  </td>
</tr>
<tr>
  <td>
    Thank you for your interest.
  </td>
</tr>
<tr>
  <td>
    <table class="mui-btn mui-btn--primary"
           border="0"
           cellspacing="0"
           cellpadding="0">
      <tr>
        <td>
          <a href="@Model.callbackUrl">Complete Registration</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    If you are unable to use button above it may be your Email client does not handle links. Try enabling HTML content, a different email client or contact us for help.
  </td>
</tr>
@*<tr>
  <td><a href="@Model.callbackUrl">@Model.callbackUrl</a></td>
</tr>*@
@* The below can be uncommented when the self registration is good enough for public use
   It currently uses an unpolished register form not fit for public use at the moment. Until
   That time the message below is more appropriate.
  <tr>
  <td>
    Note that this link is valid for 72 hours. If you do not confirm your email in that time,
    go to <a href="@Model.registerUrl">'Register'</a> to generate a fresh link.
  </td>
</tr>*@
<tr>
  <td>
    Note that this link is valid for 72 hours. If you do not confirm your email in that time,
    you will need to contact the Data and Information Systems Office to ask to generate a fresh link.
  </td>
</tr>