﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
  <!-- injector:css -->
  <link href="../bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="../bower_components/plottable/plottable.css" rel="stylesheet" />
  <link href="../bower_components/d3/lib/colorbrewer/colorbrewer.css" rel="stylesheet" />
  
    <!-- endinjector -->
</head>
<body ng-app="pineapples">
  <div ng-controller="ctrlr as vm">
    <table>
      <tr>
        <td>
          <select ng-model="vm.currentWorld" ng-options="world.name for world in vm.worlds"></select>
        </td>

        <td>
          <color-brewer-picker palette="vm.palette"></color-brewer-picker>
        </td>
        <td>
          <button ng-click="vm.genValues()">Gen</button>
        </td>
      </tr>

    </table>
    <p></p>
    <div world-gmap height="600" width="800" extent="vm.extent" gmap="vm.map"
         world="vm.topodata" values="vm.values"
         palette="vm.palette" q-as="{{vm.qAs}}" feature-set="{{vm.featureset}}"
         id-accessor="vm.idAccessor"></div>
    <!-- expects controller as mapctrlr -->
   
    <img src="../assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="mapc.isWaiting" />
  </div>


<script type='text/javascript' src='https://maps.google.com/maps/api/js'></script> 
  <!-- injector:js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/d3/lib/colorbrewer/colorbrewer.js"></script>
  <script src="../bower_components/crossfilter/crossfilter.js"></script>
  <script src="../bower_components/dcjs/dc.js"></script>
  <script src="../bower_components/angular-dc/dist/angular-dc.js"></script>
  <script src="../bower_components/dimple/dist/dimple.latest.js"></script>
  <script src="../bower_components/angular-dimple/dist/angular-dimple.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular-pnotify/src/angular-pnotify.js"></script>
  <script src="../bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/d3-geo-projection/d3.geo.projection.js"></script>
  <script src="../bower_components/enquire/dist/enquire.js"></script>
  <script src="../bower_components/gmaps/gmaps.js"></script>
  <script src="../bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
  <script src="../bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../bower_components/jquery.sparkline/index.js"></script>
  <script src="../bower_components/jquery-autosize/jquery.autosize.js"></script>
  <script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.mousewheel.js"></script>
  <script src="../bower_components/jScrollPane/script/mwheelIntent.js"></script>
  <script src="../bower_components/jScrollPane/script/jquery.jscrollpane.min.js"></script>
  <script src="../bower_components/key_drag_zoom/index.js"></script>
  <script src="../bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <script src="../bower_components/flow.js/dist/flow.js"></script>
  <script src="../bower_components/ng-flow/dist/ng-flow.js"></script>
  <script src="../bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="../bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="../bower_components/ng-token-auth/customised/ng-token-auth.js"></script>
  <script src="../bower_components/overlapping_marker_spiderfier/index.js"></script>
  <script src="../bower_components/svg-typewriter/svgtypewriter.js"></script>
  <script src="../bower_components/plottable/plottable.js"></script>
  <script src="../bower_components/pnotify_build/pnotify.custom.js"></script>
  <script src="../bower_components/restangular/dist/restangular.js"></script>
  <script src="../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
  <script src="../bower_components/skylo/vendor/scripts/skylo.js"></script>
<script src="../bower_components/topojson/topojson.js"></script>
  <script src="../bower_components/angularjs-slider/dist/rzslider.js"></script>

  <script src="../scripts/app/pineapples.js"></script>
  <script src="../scripts/app/theme.js"></script>
  <!-- endinjector -->
<script>
    (function(angular) {
      var controller = function($scope) {
        var self = this;

        var currentWorld;
        Object.defineProperty(self, "currentWorld",
        {
          get: function () { return currentWorld; },
          set: function (value) {
            currentWorld = value;
            self.changeWorld(value);
          }
        });

        this.genValues = () => {
          self.values = self.featurekeys.map(function (k) {
            return { id: k, value: Math.floor(Math.random() * 300) }
          });

        };
        var eh = [
          { id: "PG.EH.DA" },
          { id: "PG.EH.GK" },
          { id: "PG.EH.HE" },
          { id: "PG.EH.KA" },
          { id: "PG.EH.LF" },
          { id: "PG.EH.OK" },
          { id: "PG.EH.OW" },
          { id: "PG.EH.UB" }
        ];

        this.worlds = [
           { name: "PNG Provinces", topo: "PNG_adm1.topo.json", extent: [] },
           { name: "PNG Districts", topo: "PNG_adm2.topo.json", extent: [] },
           { name: "Eastern Highlands Districts", topo: "PNG_adm2.topo.json", extent: eh },
           { name: "Solomons Province", topo: "si.topo.json", extent: [], featureset: "province" },
           { name: "Solomons Wards", topo: "si.topo.json", extent: [], featureset: "ward" }  ,
           { name: "Solomons Constituencies", topo: "si.topo.json", extent: [], featureset: "constituency" },
           { name: "Solomons Province Untransformed", topo: "si.province.original.topo.json", extent: [] }
        ];
        
          // using ng-map, this is how we get the goolge map object back to the controller
        $scope.$on('mapInitialized', function(event, map) {
         // self.map = map;
          //map.data.loadGeoJson("../assets/maps/si.province.geo.json");

        });

        this.changeWorld = function (world) {
          d3.json("../assets/maps/" + world.topo, function (error, topo) {
            self.topodata = topo;
            self.extent = world.extent;
            self.featureset = world.featureset;
            // just get a copy of this for testing
            var currentset = self.featureset || Object.keys(topo.objects)[0];
            var features = topojson.feature(topo, topo.objects[currentset]).features;
            self.featurekeys = features.map(function (f) {
              return f.id;
            });
            self.props =
            (topojson.feature(topo, topo.objects[currentset])).features.map(function (f) {
              return f.properties;
            });
            

            //var style = {
            //  strokeWeight: .5,
            //  fillOpacity: .1,
            //  fillColor: "pink"
            //}
            //self.map.data.forEach((f) => { self.map.data.remove(f); });
            //self.map.data.setStyle(style);
            //features.forEach(function (f) {
            //  self.map.data.addGeoJson(f);
            //});
            self.genValues();
            // becuase this has been processed by d3 - it is not in the Angular digest cycle
            $scope.$apply();
          });
        };
        this.currentWorld = this.worlds[0];
      };
        angular
            .module("pineapples")
            .controller("ctrlr", ["$scope", controller]);
    })(window.angular);
</script>
</body>
</html>
