﻿@*
  PieChart widget
*@

<div style="margin:4px"
     ng-class="{
        'height4': vm.isSelected(),
        'height2': !vm.isSelected()}">

  <dc-bar dimension="vm.dim"
          group="vm.group()"
          value-accessor="vm.valueAccessor"
          aspect-ratio="2"
          filters="vm.selectedKey"
          on-chart-click="vm.onClick(data)" />
</div>

