﻿@* Render a cross tab generated from
  a crossFilter using xFilter. this is the tempalte for the the xTable component.
*@

<div class="dashboard-child" style="height: {{vm.isSelected ? '95%' : 'inherit'}}"
     ng-class="{ 'selected': vm.isSelected,
                 'unselected': vm.anotherComponentSelected,
                 'md-whiteframe-24dp': vm.isSelected
                }">
  @* header area *@
  <div layout="row">
    <md-button class="md-icon-button" aria-label="Toggle Widget" ng-click="vm.toggleSelected(vm.componentId)">
      <i class="fa "
         ng-class="{'fa-expand': !vm.isSelected, 'fa-compress': vm.isSelected}">
      </i>
    </md-button>
    <div flex layout-padding layout="row" layout-align="start end">
      <span ng-transclude="title" style="font-size:16px">
        This is DashboardChild (Fallback Title)
      </span>
      <span ng-transclude="filters" class="filters">
        This is DashboardChild (Fallback Filters)
      </span>
    </div>
      <div ng-transclude="selectDisplayOptions" />
    @* Disable feature for now as it does not link to any relevant reports currently *@
    @*<div>
      <span ng-if="vm.reportPath">
        <md-button class="md-icon-button" aria-label="Run Report" ng-click="vm.runReport()">
          <img src="assets/img/file-pdf-icon-24.png" />
        </md-button>
      </span>
    </div>*@
  </div>
  <div style="height: 90%">
    <div style="height: inherit;" ng-transclude="body"> <h1>This is DashboardChild (Fallback Body) </h1> </div>
  </div>
</div>

