﻿@*
  PieChart widget
*@

<div>
  <table class="table dashboard table-hover">
    <thead>
      <tr>
        <th ng-repeat="colHeader in vm.colHeadings">{{colHeader}}</th>
      </tr>
    </thead>
    <tr class="animated" ng-repeat="r in vm.group.all()"
        ng-click="vm.onClick(r)"
        ng-class="{'selected': (vm.selectedKey == r.key)}">
      <td ng-if="vm.rowLabelsLookup" class="rowlabel">{{r.key| lookup:vm.rowLabelsLookup}}</td>
      <td ng-if="!vm.rowLabelsLookup" class="rowlabel">{{r.key}}</td>
      <td>{{r.value}}</td>
    </tr>
  </table>
</div>



