﻿<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>{{vm.theFilter.entity|capitalize:first}}s</li>
    <li>Chart</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">

    <div flex="75">
      <panel panel-class="panel-primary chart"
             panel-icon="fa fa-bar-chart"
             heading="Charts Data Analysis"
             panel-collapse="true">

        <div ng-show="vm.ready" style="position:relative">

          <!-- <nvd3 options="tblc.options" data="tblc.data"></nvd3>
          <nvd3-multi-bar-chart data="vm.data"
                                id="showLegendExample"
                                width="1000"
                                height="400"
                                showxaxis="true"
                                showyaxis="true"
                                x="vm.x"
                                y="vm.y"
                                showlegend="true"
                                showcontrols="true"
                                xaxisrotatelabels="-90">
            <svg></svg>
          </nvd3-multi-bar-chart>
          -->
          <div fit-content ng-show="vm.chartType != 'map'">

            <row-col-chart dataset="vm.data"
                           charttype="{{vm.chartType}}" flip="{{vm.flipped}}" info="vm.info" height="100%" width="100%"></row-col-chart>
          </div>

          @*
            the topodata
          *@
          <div class="clear-fix"></div>
          <div ng-show="vm.chartType === 'map'">
            <div worldmap fit-content height="100%" width="100%" extent="vm.mapExtent"
                 world="vm.topodata"
                 values="vm.mapdata" valueAccessor="vm.mapValueAccessor"
                 palette="vm.palette"
                 map-color-scale="vm.mapColorScale"
                 q-as="css"
                 feature-set="{{vm.featureset}}"
                 id-accessor="vm.idAccessor">

            </div>
            <div color-range-designer
                 height="200" width="300"
                 dataset="vm.mapdata"
                 palette="vm.palette" map-color-scale="vm.mapColorScale"
                 key-field="id" y-field="value">
            </div>
          </div>
          <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />

        </div>
      </panel>
    </div>

    <div flex="25">
      <panel panel-class="panel-primary list query-data-side-panel"
             panel-icon="fa fa-filter"
             heading="Query Data"
             panel-collapse="true">

        @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
          <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
          <manipulate-chart-component searchfields="listvm.theFilter"></manipulate-chart-component>*@

        @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
          <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
        <div id="searcher" ui-view="searcher"></div>
        <div id="manipulatechart" ui-view="manipulatechart"></div>
      </panel>
    </div>

  </div>

</div>
