﻿<div>
  <table class="table table-striped">
    <tr ng-repeat="state in vm.states | orderBy: 'name'">
      <td>{{state.name}}</td>
      <td>{{state.url}}</td>
      <td>{{state.params}}</td>
    </tr>
  </table>
</div>