﻿<h4>Flash Search <i class="fa fa-question-circle" uib-tooltip="Search all data based on any keyword" tooltip-placement="top"></i></h4>
<form action="#">
  <div class="input-group well w100">
    <input class="form-control" ng-model="vm.findConfig.current.flashString" placeholder="Search..." type="text" />
    <span class="input-group-btn" ng-click="vm.FlashFind()">
      <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>