﻿@* a leaf has a state *@
<a ng-if="item.state" ng-click="vm.select(item);" ui-sref="{{item.state}}">
  <i ng-if="item.iconClasses" class="{{item.iconClasses}}"></i>
  <span>{{item.label}}</span>
</a>

@* a branch - parent of other states*@
<a ng-if="!(item.state)" ng-click="vm.select(item);">
  <i ng-if="item.iconClasses" class="{{item.iconClasses}}"></i><span>{{item.label}}</span>
  @*    <span ng-bind-html="item.html"></span> *@
</a>


<ul ng-if="item.children.length" data-slide-out-nav="item.open">
  <li ng-repeat="item in item.children" class="nav-item"
      ng-class="{ hasChild: (item.children!==undefined && item.children.length!=0),
                          active: item.selected,
                            open: (item.children!==undefined && item.children.length!=0) && item.open }"
      @* recurse, item is passed in *@
      ng-include="'generic/navigator'">
  </li>
</ul>

