<div class="panel {{vm.panelClass}}" layout="column" fit-content style="overflow:auto">
  <div class="panel-heading" ng-class="{roundedBottom: vm.collapsed}">
    <h4>
      <i ng-if="vm.panelIcon" class="{{vm.panelIcon}}"></i>{{(vm.panelIcon? " ":"")}}{{vm.heading}}

    </h4>
    <span ng-if="vm.panelClose">
      <a ui-sref="^"><span class="pull-right"><i class="material-icons">&#xE5CD;</i></span></a>
    </span>
    <span ng-if="vm.panelControlCollapse" ng-click="vm.toggleCollapse()">
      <span class="pull-right"><i class="fa " ng-class="{ 'fa-chevron-down': vm.collapsed, 'fa-chevron-up': !vm.collapsed}"></i></span>
    </span>
    <div class="options" ng-transclude="panelControls">
    </div>  
  </div>
  <div class="panel-body"  ng-transclude ng-hide="vm.collapsed">
  </div>
</div>
