﻿<div id="actionpane" ui-view="actionpane" />

<md-card>
  <div>
    <div layout="row" permission permission-only="'@Model.Create'">
      <div flex></div>
      <md-button class="md-fab md-mini" ng-click="vm.newUser()">
        <md-icon class="md-24">add</md-icon>
        <md-tooltip>Add a new system user</md-tooltip>
      </md-button>
    </div>
    <table class=" table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Account Name</th>
          @*<th>Email Confirmed</th>*@
          <th>Menu Key</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="u in vm.users">
        <td >{{u.Email}}</td>
        <td >{{u.UserName}}</td>
        @*<td>{{u.EmailConfirmed}}</td>*@
        <td>{{u.MenuKey}}</td>
        <td>
          <md-button class="md-icon-button" ng-click="vm.showUser(u)">
            @* create is a pencil, ie 'Edit' more-horiz is the horizontal ellipsis *@
            <md-icon class="material-icons md-24 md-dark">
              <span permission permission-only="'@Model.Update'">
                create
                <md-tooltip>View / Edit details ... </md-tooltip>
              </span>
              <span permission permission-only="'@Model.Read'" permission-except="'@Model.Update'">
                more_horiz
                <md-tooltip>Details ...</md-tooltip>
              </span>
            </md-icon>
          </md-button>
          <span permission permission-only="'@Model.Delete'">
            <md-button class="md-icon-button" ng-click="vm.deleteUser(u)">
              <md-icon class="material-icons md-24 md-dark">delete</md-icon>
              <md-tooltip>Delete this user</md-tooltip>
            </md-button>
          </span>
        </td>
      </tr>
    </table>
  </div>
</md-card>