﻿/* dashboard-wall is the surface that holds the children */
.dashboard-wall {
 max-width:3600px;
}


/* dashboard-child class is the outermost class on the contents of a dashboard item */

.dashboard-child table tr.selected,
table.material tr.selected {
  background-color: darkgrey;
  color: white
}

.dashboard-child table.table th,
table.table.material th {
  background-color: white;
  border-top:solid;
  border-color: darkslategrey;
  color: darkslategray;
  background-image: none;
}

.dashboard-child table tbody td
{
    text-align: right;
}

.dashboard-child table tbody td.rowlabel
{
    text-align: left;
}

/* for a total row, total class can go on the row */
.dashboard-child table tr.total,
table.material tr.total  {
  border-top:solid;
  border-bottom:solid;
  border-width:medium;
  border-color: darkslategrey;
  font-weight:500;
}

/* total column */
.dashboard-child table td.total,
table.material td.total  {
  background-color: lightgray;
  font-weight:600;
}

/* grand total */
.dashboard-child table tr.total td.total,
table.material tr.total td.total {
  
  font-weight:700;
}

/* allow for disabled table in editing contexts (not applicable for dashboards) */
table.material.disabled tbody tr {
  background-color: rgba(170,151,206,0.2);    /* same as the disabled color for input */
}

.dashboard-child {
  margin:4px;
  opacity: 1;
  background-color: white;
  border-color: lightgray;
  padding: 4px;
}


.dashboard-child.selected {
  position:absolute;
  top:5px;
  left:5px;
  width:95%;
  z-index:70;
  overflow-y: inherit;

}
.dashboard-child.unselected {
  background-color: lightgray;
  opacity: .2;
}

.dashboard-child .height2 {
    height: 230px;
}

.dashboard-child .height3 {
    height: 380px;
}

.dashboard-child .height4 {
    height: 530px;
}
.dashboard-child .height5 {
  /* */
    height: 680px;
}
.dashboard-child .height6 {
  height: 830px;
}
.dashboard-child .height7 {
  height: 980px;
}
.dashboard-child .height8 {
  height: 1130px;
}

.dashboard-child.selected-add, 
.dashboard-child.selected-remove,
.dashboard-child.unselected-add, 
.dashboard-child.unselected-remove

{
  transition: .2s  ;
}

/* angular animations form adding form removing material whiteframe 
  to create the impression of raisng/lowering a component
*/
.lifting .md-whiteframe-1dp-add, 
.lifting .md-whiteframe-2dp-add, 
.lifting .md-whiteframe-6dp-add, 
.lifting .md-whiteframe-12dp-add, 
.lifting .md-whiteframe-24dp-add, 
.lifting .md-whiteframe-1dp-remove, 
.lifting .md-whiteframe-2dp-remove, 
.lifting .md-whiteframe-6dp-remove, 
.lifting .md-whiteframe-12dp-remove, 
.lifting .md-whiteframe-24dp-remove {
  transition: .4s  ;
}


school-details,
plottable-bar-chart,
plottable-line-chart,
plottable-clustered-bar-chart,
plottable-stacked-area-chart,
plottable-horizontal-bar-chart,
cross-tab,
simple-table,
bar-chart,
pie-chart,
generic {
  overflow-y: hidden;
}

/* dashboard-wrapper is applied to the dashboard child component in the dashboard html
  it controls layout within the 'masonry' grid
  default is '2x2' block ie 300 x 300px
*/
.dashboard-wrapper {
  background-color: rgb(255,255,255);
  opacity:1;
  display:block;
  width:300px;
  height:300px;
  float:left; /* masonry seems to need this */

  overflow-x: hidden;
  overflow-y: inherit;
}

  .dashboard-wrapper {
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);  /* default to the same as md-whiteframe-1dp */
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 0px;
      margin-left: 0px;
      padding: 3px;
  }

  .dashboard-wrapper {
    height: 140px;
    width: 140px;
  }

  /* size control for dashbard wrappers */
  .dashboard-wrapper.height1 {
    height: 140px;
  }
  .dashboard-wrapper.height2 {
    height: 290px;
  }
  .dashboard-wrapper.height3 {
    height: 440px;
  }
  .dashboard-wrapper.height4 {
    height: 590px;
  }
  .dashboard-wrapper.height5 {
    height: 740px;
  }
  .dashboard-wrapper.height6 {
    height: 890px;
  }
 .dashboard-wrapper.height7 {
    height: 1040px;
  }
  .dashboard-wrapper.height8 {
    height: 1190px;
  }

  .dashboard-wrapper.width1 {
    width: 140px;
  }
  .dashboard-wrapper.width2 {
    width: 290px;
  }
  .dashboard-wrapper.width3 {
    width: 440px;
  }
  .dashboard-wrapper.width4 {
    width: 590px;
  }
  .dashboard-wrapper.width5 {
    width: 740px;
  }
  .dashboard-wrapper.width6 {
    width: 890px;
  }
  .dashboard-wrapper.width7 {
    width: 1040px;
  }
  .dashboard-wrapper.width8 {
    width: 1190px;
  }


  /* fixes a problem that prevents resizing of Dc charts*/
  div.dc-chart.unfloat {
    float:none;
  }

  /* rotated table headings
    https://css-tricks.com/rotated-table-column-headers/
    To do: I suspect there are more relaible ways to place these rotated headers
    if the transform-origin is set to top left or bottom left
  */

  th.rotate45 {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate45 > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate45 > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

 th.rotate90 {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate90 > div {
  padding-top:100%;
  transform: 
    /* Magic Numbers */
    rotate(270deg);
 
}
th.rotate90 > div > span {
  padding: 5px 10px;
  text-align:start;
  transform: translate(0px, 20px);
}


.tooltip {
  pointer-events: none;
}