﻿/*

  this group of styles implement material design recommendations as decribed in
  https://google.github.io/material-design-icons/

  These are not overrides or tweaks to angular material style - rather, the 
  intention is that these will be implemented by the project itself.

  So this group should remain in the project even when all 'material-fixes'
  are eliminated
*/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* end of required styles */


/*
  The remaining styles are short term fixes for issues caused by conflicts between bootstrap 
  and material.
  This should be discarded when bootstrap is phased out. 
*/


/* Angular material quick and dirty customizations 
   these have been migrated here from custom.css
*/

/* the style material-icons is installed when we get the material-icons font online, using 
  this link in start.cshtml

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  This style defines font-size: 24px and does NOT set the color
  color: white
  probably creates more problems than it solves - should be replaced by 'md-light' class
*/
.material-icons {
  font-size: 100%;
  color: white;
}

/* see configMdTheme.ts default background is now white */

/* this style would default to hue 1 of primary palette
   The override here is to correspond with other colors used in bootstrap
   This has been removed in favour of extend the primary palette to use this color
   see configMdTheme.ts
*/
/*
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #348bc6;
}
*/

/* selects were misalinged only when inside a lookup-selector 
  so it is more precise to change this in the lookup-selector template
*/

/* buttons */
/* This color #4697ce is almost identical to the theme primary hue 1 #348bc6
  so all these md-button tweaks can be safely removed
*/

/* doesn't make sense to have a heading inside the md-toolbar-tools ? */
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
  color: #ffffff;
}

panel-controls .md-btn {
  margin: 3px 0px;
  color: #fff !important;
}

/* Quick and dirty CSS to materialise some bits not materialised by Angular Material V1 (e.g. tables) */

.mui-table > thead > tr > th {
  border-bottom: 2px solid rgba(0,0,0,.12);
  font-weight: 700;
}

.mui-table > tbody > tr > td, .mui-table > tbody > tr > th, .mui-table > tfoot > tr > td, .mui-table > tfoot > tr > th, .mui-table > thead > tr > td, .mui-table > thead > tr > th {
  padding: 10px;
  line-height: 1.429;
}

.mui-table > tbody > tr > th, .mui-table > tfoot > tr > th, .mui-table > thead > tr > th {
  text-align: left;
}

/* end of migration from custom.css */

/* bootstrap makes label bold - kill this in materialized forms */
md-input-container label {
  font-weight: normal
}

/* make a distinction between a placeholder and a disabled value in an input
  by making the value darker ( ie more opaque)
  *** for further investigation - can we achieve this without explicitly setting
  the colors ?? ***
*/
 md-input-container .md-input[disabled] {
   color: rgba(0,0,0,0.87);
   background-color: rgba(170,151,206,0.2);
   border-bottom-style: none

 }
 md-select[disabled] .md-select-value {
   color: rgba(0,0,0,0.87);
   background-color: rgba(170,151,206,0.2);
   border-bottom-style: none

 }

 /* try to move to roboto font when we are 'living in the material world' */
 md-content .md-content {
   font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 /* 
   adpoting semantic ui principles
   (e.g. https://webaim.org/techniques/semanticstructure/)
   we should not style headings but should apply another class to all headings to get the visual result
   using heading tyles to define structure and acessbility
   angularjs material provides classes for this purpose, see
   https://material.angularjs.org/latest/CSS/typography
 */
 h1 ,h2 , h3, h4, h5, h6
 {
   font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 /* a simple animation for blocks that are conditionally displayed 
   causes the element to roll-down on show, roll-up on hide
 */
 /* a default duration for animations*/
.conditional.ng-animate {
  transition:all ease-in .20s;  
}

/* start point of show*/
.conditional.ng-enter ,
.conditional.ng-hide-remove {
  margin-top: -80px;
  opacity: 0
}
/* end point of show */
.conditional.ng-enter.ng-enter-active  ,
.conditional.ng-hide-remove.ng-hide-remove-active  

{
  margin-top: 0px;
  opacity: 1
}

/* start point of hide*/
.conditional.ng-leave,
.conditional.ng-hide-add
{
  margin-top: 0px;
  opacity: 1

}

/* end point of hide*/
.conditional.ng-leave.ng-leave-active ,
.conditional.ng-hide-add.ng-hide-add-active 
{
  margin-top: -80px;
  opacity: 0
}
