﻿/* Navigator */
ul.navigator {
  font-weight: 800;
}

.navigator {
  white-space: normal;
  margin: 0 0 0 0;
  padding-left: 0 !important;
}

.navigator i {
  color: #b9e0f2;
  margin-left: 1px;
  margin-right: 8px;
  min-width: 18px;
  text-align: center;
  display: inline-block;
}
.navigator .divider {
  height: 1px;
  width: 100%;
  margin: 10px 0px;
  overflow: hidden;
  background-color: #3582b5;
}
.navigator .divider:hover {
  background-color: #3582b5;
}
.navigator a {
  text-decoration: none;
}
.navigator ul {
  padding: 10px 0;
  list-style: none;
}
.navigator ul {
  padding-left: 0 !important;
}
.navigator ul,
.navigator ul li a {
  background: #3582b5;
  color: #b5d8e8;
}
.navigator li.active i,
.navigator li.active a:hover i {
  color: #ffffff;
}
.navigator li a {
  color: #b9e0f2;
  display: block;
  padding: 11px 10px;
  position: relative;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigator a:hover {
  background-color: #5ba3d4;
  color: #cfeefc;
}
.navigator a:hover i {
  color: #cfeefc;
}
.navigator > li.active > a {
  background: #63b7e6;
  color: #ffffff;
}
.navigator > li.active > a:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f3f4f6 transparent transparent;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0px;
}
.navigator ul li.active > a {
  color: #ffffff !important;
}
.navigator ul li a {
  padding: 5px 10px 5px 37px;
}
.navigator ul li.active:not(.open) > a {
  font-weight: 600;
  color: #fff;
}
.navigator li ul {
  display: none;
}
.navigator ul ul {
  padding: 0;
}
.navigator li li li a {
  padding-left: 60px;
}
.navigator ul ul ul li a {
  padding-left: 80px;
}
.navigator ul ul ul ul li a {
  padding-left: 100px;
}
.navigator li.hasChild > a {
  position: relative;
}
.navigator li.hasChild > a:before,
.navigator li.hasChild > a:after {
  content: " ";
  display: table;
}
.navigator li.hasChild > a:after {
  clear: both;
}
.navigator li.hasChild > a:before,
.navigator li.hasChild > a:after {
  content: " ";
  display: table;
}
.navigator li.hasChild > a:after {
  clear: both;
}
/* Remove the :hover from the following lines for arrows to appear always */
.navigator li.hasChild > a:before,
.navigator li.hasChild.open > a:before {
  content: "\f105";
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.navigator li.hasChild.open > a:before {
  content: "\f107";
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.navigator li.hasChild > a:before,
.navigator li.hasChild.open > a:before {
  font-family: Font Awesome\ 5 Free;
  /* https://stackoverflow.com/questions/47788847/fontawesome-5-font-family-not-work */
  font-weight: 900; /* Fix version 5.0.9 */
  font-style: normal;
  text-decoration: inherit;
  text-align: right;
  padding-right: 0px;
  display: inline-block;
  float: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navigator li.hasChild li.hasChild a:before {
  top: 5px;
}
.navigator.collapsed > li.hasChild.open > a:before {
  content: "";
}
.navigator.collapsed > li.hasChild > a:before {
  content: "";
}
.navigator.collapsed > li.hasChild:hover > a:before {
  content: "\f107";
}
.navigator.collapsed > li {
  white-space: nowrap;
  z-index: 999;
  position: relative;
}
.navigator.collapsed > li span {
  display: none;
}
.navigator.collapsed > li > ul {
  position: absolute;
  width: 210px;
  left: 40px;
  display: none !important;
}
.navigator.collapsed > li:hover,
.navigator.collapsed > li.keep-open {
  background: #5ba3d4;
  width: 250px;
}


.navigator.collapsed > li.hasChild.open > a:before {
  content: "";
}
.navigator.collapsed > li.hasChild > a:before {
  content: "";
}
.navigator.collapsed > li.hasChild:hover > a:before {
  content: "\f107";
}
.navigator.collapsed > li:hover span,
.navigator.collapsed > li.keep-open span {
  display: inline;
}
.navigator.collapsed > li:hover > ul,
.navigator.collapsed > li.keep-open > ul {
  display: block !important;
}
.navigator.collapsed > li:hover.divider,
.navigator.collapsed > li.keep-open.divider {
  width: 40px !important;
}
.navigator.collapsed > li:hover > a,
.navigator.collapsed > li.keep-open > a,
.navigator.collapsed > li:hover a i,
.navigator.collapsed > li.keep-open a i {
  color: #cfeefc;
}
.navigator.collapsed > li.active:hover > a:after {
  display: none;
}
.navigator.collapsed> li.active:hover > a,
.navigator.collapsed > li.active:hover > a i {
  color: #ffffff;
}
.navigator.collapsed i {
  margin-right: 20px !important;
  margin-left: 1px;
}
.navigator.collapsed li li a {
  padding-left: 10px;
}
.navigator.collapsed li li li a {
  padding-left: 20px;
}
.navigator.collapsed li li li li a {
  padding-left: 30px;
}

/* the enclosing md-sidenav */

#sidenav {
  width: 230px;
  background: #4697ce;
  white-space: nowrap;
  position: relative;
}

body.collapse-navbar #sidenav {
  width: 40px;
  overflow: visible;
}