﻿@*
  Provides a standard framework for wrapping content into an
  angular-material dialog

  classes - classes desgined to subclass 
    md-toolbar-tools
    md-dialog-content
    md-dialog-actions
  include:
    picture-dialog....
    condensed-dialog....
    edit-dialog...
*@
<md-dialog class="@RenderSection("class", false)">
  <md-toolbar>
    <div class="md-toolbar-tools">
      @RenderSection("icon", false)
      &nbsp;
      @RenderSection("title", false)
      <span flex></span>
      @RenderSection("tools", false)
      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <i aria-label="Close dialog" class="material-icons">&#xE5CD;</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      @RenderBody()
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
      @RenderSection("actions", false)
  </md-dialog-actions>
</md-dialog>