﻿@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container searcher">
  <div class="col-md-11">
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchNo">School No</label>
        <input id="srchNo" type="text" class="form-control" ng-model="vm.params.SchoolNo" />
      </div>

    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchDistrict">{{ "District" | vocab}}</label>
        <lookup-selector id="srchDistrict"
                         lkp="districts"
                         ng-model="vm.params.District"
                         ng-disabled="vm.findConfig.isLocked('District')">
        </lookup-selector>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchIsland">Island</label>
        <lookup-selector id="srchIsland"
                         lkp="islands"
                         ng-model="vm.params.Island"
                         ng-disabled="vm.findConfig.isLocked('Island')">
        </lookup-selector>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchIsland">Framework</label>
        <lookup-selector id="srchFrameworks"
                         lkp="paFrameworks"
                         ng-model="vm.params.SubScoreCode"
                         ng-disabled="vm.findConfig.isLocked('SubScoreCode')"></div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchStartDate">After</label>
        <input type="date" id="srchStartDate" class="form-control" uib-datepicker-popup
               ng-model="vm.params.StartDate" />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="srchEndDate">Up to</label>
        <input type="date" id="srchEndtDate" class="form-control" uib-datepicker-popup
               ng-model="vm.params.EndDate" />
      </div>
    </div>

  </div>
  <div class="col-md-1">
    <div class="form-group">
      <button class="btn btn-default findNow" id="findNow" ng-click="vm.FindNow()">
        Find
      </button>
    </div>
    <div class="form-group">
      <button id="Reset" class="btn clearSearch" ng-click="vm.Reset()">
        Clear
      </button>
    </div>
  </div>


</div>

