﻿@* *@
@section title {
  Enrolment by {{'Authority'|vocab}}
}

@section filters {
{{vm.dashboard.options.selectedAuthorityGovt|lookup:'authorityGovt'}} {{vm.dashboard.options.selectedYear}}
}
<div>
  <table class="table dashboard table-hover">
    <thead>
      <tr>
        <th>Authority</th>
        <th>Enrol - {{vm.dashboard.options.selectedYear}}</th>
      </tr>
    </thead>
    <tr class="animated" ng-repeat="r in vm.grpAuthorityCode.all()"
        ng-click="vm.dashboard.options.toggleSelectedAuthority(r.key)"
        ng-class="{'selected':vm.dashboard.options.isSelectedAuthority(r.key)}">
      <td class="rowlabel">{{r.key| lookup:'authorities'}}</td>
      <td>{{r.value}}</td>
    </tr>
  </table>

  @* This material can be cut out and used to create other components*@

  @* districts by year

    <table class="table dashboard table-hover">
      <thead>
        <tr>
          <th>Year</th>

          <th ng-repeat="d in vm.lookups.cache['districts']" colspan="3"
              ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)"
              >{{d.N}}</th>

        </tr>
        <tr>
          <th></th>
          <th ng-repeat-start="d in vm.lookups.cache['districts']"
              ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)" >M</th>
          <th ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">F</th>
          <th ng-repeat-end
              ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">Tot</th>
        </tr>

      </thead>
      <tbody>
        <tr class="animated" ng-repeat="r in vm.tabYear_District.all()"
            ng-class="{'selected': vm.dashboard.options.isSelectedYear(r.key)}">
          <td class="rowlabel">{{r.key}}</td>
          <td ng-repeat-start="d in vm.lookups.cache['districts']"
              ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">
            {{r.value[d.C].M}}
          </td>
          <td ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">{{r.value[d.C].F}}</td>
          <td ng-repeat-end
              ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">
                {{r.value[d.C].T}}
          </td>
        </tr>
      </tbody>
    </table>

  *@


</div>
