﻿@* School dashboard *@
@section options  {
  <p>Dashboard currently has no options</p>
}

@section children {

  <school-details heading-title="Basic School Details"
                  dimensions="height3 width3"
                  toggle-selected="::vm.boundToggleSelected"
                  selected-child="vm.selectedChild"
                  school-info="vm.school" />

  <generic heading-title="Latest Survey Available"
           dimensions="height3 width3"
           toggle-selected="::vm.boundToggleSelected"
           selected-child="vm.selectedChild"
           heading-filters=" "
           style="overflow-y:hidden">
    <div style="width:inherit; background-color:#92d050; text-align: center; padding: 50px">
      <h1 style="font-size: xx-large;">{{vm.lastSurvey()}}</h1>
    </div>
  </generic>

  <plottable-pie-chart heading-title="Enrollment by Gender ({{vm.lastSurvey()}})"
                       dimensions="height3 width3"
                       style="overflow-y:hidden"
                       toggle-selected="::vm.boundToggleSelected"
                       selected-child="vm.selectedChild"
                       heading-filters=""
                       chart-title=""
                       datasets="vm.latestEnrolPieChartData()"
                       datasets-metadata="vm.latestEnrolPieChartMetadata()"
                       datasets-colors="vm.latestEnrolPieChartColors()"
                       datasets-val="enrol" />

  <generic heading-title="Enrollment by Grade Level and Gender"
           dimensions="height4 width3"
           toggle-selected="::vm.boundToggleSelected"
           selected-child="vm.selectedChild"
           heading-filters=" ">
    <table class="table dashboard table-hover" style="padding: 20px">
      <thead>
        <tr>
          <th style="text-align: right;" ng-repeat="colHeader in ['Grade', 'F', 'M', 'Total']">{{colHeader}}</th>
        </tr>
      </thead>
      <tr class="animated" ng-repeat="r in vm.enrol(2016)">
        <td>{{r.ClassLevel}}</td>
        <td>{{r.EnrolF}}</td>
        <td>{{r.EnrolM}}</td>
        <td>{{r.EnrolF + r.EnrolM}}</td>
      </tr>
    </table>
  </generic>

  <plottable-bar-chart heading-title="Enrollment by Level and Gender"
                       dimensions="height4 width3"
                       toggle-selected="::vm.boundToggleSelected"
                       selected-child="vm.selectedChild"
                       heading-filters=" "
                       chart-title=""
                       datasets="vm.dataForBarChart(2018)"
                       datasets-metadata="['Female', 'Male']"
                       datasets-x="ClassLevel"
                       datasets-y="Enrol" />

  <generic heading-title="Enrollment by Grade Level and Gender History"
           dimensions="height4 width3"
           toggle-selected="::vm.boundToggleSelected"
           selected-child="vm.selectedChild"
           heading-filters=" "
           style="overflow-y:auto">

    <table class="table dashboard table-hover" ng-repeat="year in vm.enrolmentYears()">
      <thead>
        <tr>
          <th style='width: 25%' ng-repeat="colHeader in [year, 'F', 'M', 'Total']">{{colHeader}}</th>
        </tr>
      </thead>
      <tr class="animated" ng-repeat="r in vm.enrol(year)">
        <td>{{r.ClassLevel}}</td>
        <td>{{r.EnrolF}}</td>
        <td>{{r.EnrolM}}</td>
        <td>{{r.EnrolF + r.EnrolM}}</td>
      </tr>
    </table>
  </generic>

  <plottable-line-chart heading-title="Enrollment by Gender History"
                        dimensions="height4 width4"
                        toggle-selected="::vm.boundToggleSelected"
                        selected-child="vm.selectedChild"
                        heading-filters=" "
                        chart-title=""
                        datasets="vm.dataForLineChart()"
                        datasets-x="year"
                        datasets-y="enrol" />

  <plottable-stacked-area-chart heading-title="Enrollment by Gender History (Stacked)"
                                dimensions="height4 width4"
                                toggle-selected="::vm.boundToggleSelected"
                                selected-child="vm.selectedChild"
                                heading-filters=" "
                                chart-title=""
                                datasets="vm.dataForStackedGenderHistory()"
                                datasets-metadata="['Female', 'Male']"
                                datasets-x="year"
                                datasets-y="enrol" />

  <plottable-clustered-bar-chart heading-title="Female % for current year"
                                 dimensions="height4 width4"
                                 toggle-selected="::vm.boundToggleSelected"
                                 selected-child="vm.selectedChild"
                                 heading-filters=" "
                                 chart-title=""
                                 is-selected="vm.selectedChild"
                                 datasets="vm.dataForFemalePercentBarChart(2018)"
                                 datasets-metadata="['School', 'District', 'National']"
                                 datasets-x="ClassLevel"
                                 datasets-y="Ratio" />


  <plottable-line-chart heading-title="Female % History"
                        dimensions="height4 width4"
                        toggle-selected="::vm.boundToggleSelected"
                        selected-child="vm.selectedChild"
                        heading-filters=" "
                        chart-title=""
                        datasets="vm.dataForFemalePercentHistoryLineChart()"
                        datasets-metadata="['School', 'District', 'National']"
                        datasets-x="year"
                        datasets-y="Ratio" />

  <plottable-horizontal-bar-chart ng-repeat="exam in vm.exams(2017)"
                                  heading-title="{{exam}}"
                                  dimensions="height8 width8"
                                  toggle-selected="::vm.boundToggleSelected"
                                  selected-child="vm.selectedChild"
                                  heading-filters=" "
                                  heading-options="vm.standardsForExam(exam, 2017)"
                                  chart-title=""
                                  datasets="vm.dataExamResultsByBenchmarkForYear(2017, exam)"
                                  datasets-x="percent"
                                  datasets-y="ExamBenchmark"
                                  style="overflow-y:hidden" />

  <plottable-bar-chart heading-title="{{ind}} 2017"
                       dimensions="height4 width3"
                       toggle-selected="::vm.boundToggleSelected"
                       selected-child="vm.selectedChild"
                       heading-filters=" "
                       chart-title=""
                       datasets="vm.dataForFlowBarChart(vm.schoolInfo.schNo, 2017, ind)"
                       datasets-x="ClassLevel"
                       datasets-y="Value"
                       ng-repeat="ind in ['DropoutRate', 'PromoteRate', 'RepeatRate', 'SurvivalRate']" />

  <plottable-line-chart heading-title="{{ind}} History"
                        dimensions="height4 width3"
                        toggle-selected="::vm.boundToggleSelected"
                        selected-child="vm.selectedChild"
                        heading-filters=" "
                        chart-title=""
                        datasets="vm.dataForSchoolFlowLineChart(ind)"
                        datasets-x="year"
                        datasets-y="value"
                        ng-repeat="ind in ['DropoutRate', 'PromoteRate', 'RepeatRate', 'SurvivalRate']" />

  <generic heading-title="{{ind}}"
           dimensions="height4 width3"
           toggle-selected="::vm.boundToggleSelected"
           selected-child="vm.selectedChild"
           heading-filters=" "
           style="overflow-y:hidden"
           ng-init="data=vm.schoolFlowData(vm.schoolInfo.schNo)"
           ng-repeat="ind in ['DropoutRate', 'PromoteRate', 'RepeatRate', 'SurvivalRate']">

    <table class="table dashboard table-hover">
      <thead>
        <tr>
          <th>Grade</th>
          <th ng-repeat="colHeader in [2013, 2014, 2015, 2016, 2017]">{{colHeader}}</th>
        </tr>
      </thead>
      <tr class="animated" ng-repeat="grade in vm.gradesForSchool(vm.schoolInfo.schNo)">
        <td>{{grade}}</td>
        <td ng-repeat="colHeader in [2013, 2014, 2015, 2016, 2017]">{{vm.schoolFlowDataValue(vm.schoolInfo.schNo, colHeader, grade, ind)}}</td>
      </tr>
    </table>
  </generic>

}
