﻿
<div style="padding:5px">

  <div class="row">
    <div class="col-md-3">


      <div ng-show="vm.uploader.isHTML5">

        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Drop NDOE Survey Workbook here...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> ... or click to select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
              <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
              <span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
          <span class="fa fa-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <span class="fa fa-ban"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <span class="fa fa-minus"></span> Clear
        </button>
      </div>

    </div>

  </div>
  <div>
    <div ng-show="vm.uploadResponseData">
      <div>State: {{vm.uploadResponseData.state}}</div>
      <div>Year: {{vm.uploadResponseData.schoolYear}}</div>
      <div>No of schools:{{vm.uploadResponseData.schools}}</div>
      <div>No of pupils:{{vm.uploadResponseData.students}}</div>
      <div>File Id:{{vm.uploadResponseData.id}}</div>
    </div>
    <div ng-show="vm.progressData">
      <div>Schools: {{vm.progressData.schools}}</div>
      <div>Students: {{vm.progressData.students}}</div>
      <div>Staff: {{vm.progressData.staff}}</div>
      <div>Wash: {{vm.progressData.wash}}</div>
    </div>
    <div ng-show="vm.uploadResponseData.hasValidations">
      <div>Missing or undefined school codes were found:</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Workheet</th>
            <th>Row Index</th>
            <th>School No</th>
            <th>Issue</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.uploadResponseData.validations">
            <td>{{v.Sheet_Name}}</td>
            <td>{{v.rowID}}</td>
            <td>{{v.School_No}}</td>
            <td>{{v.valmsg}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div ng-show="vm.uploadResponseData.hasStaffValidations">
      <div>Validation issue were found on the Staff page:</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Column</th>
            <th>Row Index</th>
            <th>Value</th>
            <th>Issue</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.uploadResponseData.staffValidations">
            <td>{{v.field}}</td>
            <td>{{v.rowIndex}}</td>
            <td>{{v.errorValue}}</td>
            <td>{{v.message}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div ng-show="vm.processResponseData.hasValidations">
      <div>Validation issues were found in the Students page of the submitted data. Correct these probems in the source workbook, then upload the changes.</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Row Index</th>
            <th>Value</th>
            <th>Issue</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.processResponseData.validations">
            <td>{{v.rowID}}</td>
            <td>{{v.errorValue}}</td>
            <td>{{v.errorMessage}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="vm.processResponseData.hasEnrolmentPupilTable">
      <h3>Enrolment Summary</h3>
      <pupil-table-grid pupil-table="vm.enrolmentSummary"></pupil-table-grid>
    </div>

    <div ng-show="vm.processResponseData.hasRepeaterPupilTable">
      <h3>Repeater Summary</h3>
      <pupil-table-grid pupil-table="vm.repeaterSummary"></pupil-table-grid>
    </div>

    <div ng-show="vm.processResponseData.hasPSAPupilTable">
      <h3>Starting Primary from Preschool Summary</h3>
      <pupil-table-grid pupil-table="vm.psaSummary"></pupil-table-grid>
    </div>
  </div>
  <div style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.uploader.isUploading" >
    Uploading {{vm.uploader.progress}}% <img src="assets/img/wait.gif" />
  </div>
</div>
