﻿<div>
  <div>School Scatter</div>
  <div style="padding: 10px">
    <school-scatter-chart
         height="800" width="800" datasets="vm.scatterData"
         color-by="vm.colorBy" color-by-value="vm.colorByValue" info="vm.info">
    </school-scatter-chart>
    </div>
  </div>
    @*<nvd3-scatter-chart data="vm.theData"
                        id="colorExample"
                        width="900"
                        height="600"
                        x="vm.xfunc()"
                        y="vm.yfunc()"
                        size="vm.size()"
                        zscale="vm.zscale()"
                        sizerange="[200,500]"
                        interactive="true"
                        tooltips="true"
                        tooltip-content="vm.toolTipContent()"
                        point-key="vm.pointKey()"
                        circles-only="false"
                        shape="vm.shape()"
                        transition-duration="2000"
                        transitionduration="1000"
                        callback="vm.callback()"
                        showlegend="true">
        <svg></svg>
    </nvd3-scatter-chart>*@
    <div>
        <table class="table">
            <tbody>
                <tr ng-repeat="row in vm.resultset[0]">
                    <td>{{row.schNo}}</td>
                    <td>{{row.schName}}</td>
                    <td>{{row.XValue}}</td>
                    <td>{{row.YValue}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>