﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New SchoolAccreditation': 'SchoolAccreditation ' + vm.model.schNo + '-' + vm.model.InspYear}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="School Accreditation Inspection">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"School No" | vocab }}</label>
                  <input type="text" ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Inspection Year</label>
                  <input type="text" ng-model="vm.model.InspYear" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Complete By</label>
                  <input type="text" ng-model="vm.model.InspectedBy" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Note</label>
                  <input type="text" ng-model="vm.model.Note" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Start Date</label>
                  <md-datepicker ng-model="vm.model.StartDate" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>End Date</label>
                  <md-datepicker ng-model="vm.model.EndDate" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>
              </div>

              <div class="leadership" layout-gt-xs="row">
                <h3>Leadership</h3>
              </div>

              <div class="leadership" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>L1</label>
                  <input type="number" ng-model="vm.model.L1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>L2</label>
                  <input type="number" ng-model="vm.model.L2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>L3</label>
                  <input type="number" ng-model="vm.model.L3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>L4</label>
                  <input type="number" ng-model="vm.model.L4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="teacher-performance" layout-gt-xs="row">
                <h3>Teacher Performance</h3>
              </div>

              <div class="teacher-performance" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>T1</label>
                  <input type="number" ng-model="vm.model.T1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>T2</label>
                  <input type="number" ng-model="vm.model.T2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>T3</label>
                  <input type="number" ng-model="vm.model.T3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>T4</label>
                  <input type="number" ng-model="vm.model.T4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="data-management" layout-gt-xs="row">
                <h3>Data Management</h3>
              </div>

              <div class="data-management" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>D1</label>
                  <input type="number" ng-model="vm.model.D1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
             
                <md-input-container class="md-block" flex-gt-sm>
                  <label>D2</label>
                  <input type="number" ng-model="vm.model.D2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>D3</label>
                  <input type="number" ng-model="vm.model.D3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>D4</label>
                  <input type="number" ng-model="vm.model.D4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="ncsb" layout-gt-xs="row">
                <h3>NCSB</h3>
              </div>

              <div class="ncsb" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>N1</label>
                  <input type="number" ng-model="vm.model.N1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>N2</label>
                  <input type="number" ng-model="vm.model.N2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>N3</label>
                  <input type="number" ng-model="vm.model.N3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>N4</label>
                  <input type="number" ng-model="vm.model.N4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="facility" layout-gt-xs="row">
                <h3>Facility</h3>
              </div>

              <div class="facility" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>F1</label>
                  <input type="number" ng-model="vm.model.F1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>F2</label>
                  <input type="number" ng-model="vm.model.F2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>F3</label>
                  <input type="number" ng-model="vm.model.F3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>F4</label>
                  <input type="number" ng-model="vm.model.F4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="sip" layout-gt-xs="row">
                <h3>SIP</h3>
              </div>

              <div class="sip" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>S1</label>
                  <input type="number" ng-model="vm.model.S1" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>S2</label>
                  <input type="number" ng-model="vm.model.S2" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>S3</label>
                  <input type="number" ng-model="vm.model.S3" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>S4</label>
                  <input type="number" ng-model="vm.model.S4" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div class="co" layout-gt-xs="row">
                <h3>CO</h3>
              </div>

              <div class="co" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CO1</label>
                  <input type="number" ng-model="vm.model.CO1" ng-disabled="!vm.isEditing" />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CO2</label>
                  <input type="number" ng-model="vm.model.CO2" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div class="co co-height" layout-gt-xs="row"></div>

              <div class="level-tally" layout-gt-xs="row">
                <h3>Level Tally</h3>
              </div>

              <div class="level-tally" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>LT1</label>
                  <input type="number" ng-model="vm.model.LT1" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>LT2</label>
                  <input type="number" ng-model="vm.model.LT2" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
             
                <md-input-container class="md-block" flex-gt-sm>
                  <label>LT3</label>
                  <input type="number" ng-model="vm.model.LT3" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>LT4</label>
                  <input type="number" ng-model="vm.model.LT4" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
              </div>

              <div class="level-tally" layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Total</label>
                  <input type="number" ng-model="vm.model.T" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
              
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Level</label>
                  <input type="text" ng-model="vm.model.SchLevel" ng-disabled="!vm.isEditing" required readonly />
                </md-input-container>
              </div>

              <div class="col-xs-12">
                <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
              </div>
            </form>
          </div>
        </md-content>
      </div>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
