﻿@* kemis context-specific extra tabs *@

<md-tab label="Surveys" ng-disable="!vm.model.Surveys.length">
  <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
</md-tab>

<md-tab label="Inspectorate Data" ng-disable="!vm.model.Inspections.length">
  <table class="inspectoratedata table table-condensed table-striped table-hover">

    <thead>
      <tr>
        <th class="colhdr">Inspection Program</th>
        <th class="colhdr gray-left-border">Start Date</th>
        <th class="colhdr gray-left-border">End Date</th>
        <th class="colhdr gray-left-border">Note</th>
        <th class="colhdr gray-left-border">Inspected By</th>
        <th class="colhdr gray-left-border">Inspection Type Code</th>
        <th class="colhdr gray-left-border">Inspection Type</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="inspection in vm.model.Inspections | orderBy: 'StartDate' : true">
        <td>{{inspection.InspProgram}}</td>
        <td>{{inspection.StartDate}}</td>
        <td>{{inspection.EndDate}}</td>
        <td>{{inspection.Note}}</td>
        <td>{{inspection.InspectedBy}}</td>
        <td>{{inspection.InspTypeCode}}</td>
        <td>{{inspection.InspType}}</td>
      </tr>
    </tbody>

  </table>
</md-tab>

<md-tab label="Principal's Comments" ng-disable="!vm.model.Surveys.length">
  <table class="principalscomments table table-condensed table-striped table-hover">

    <thead>
      <tr>
        <th class="colhdr">Year</th>
        <th class="colhdr gray-left-border">Comment</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="survey in vm.model.Surveys | orderBy: svyYear : true">
        <td>{{survey.svyYear}}</td>
        <td>{{survey.ssNote}}</td>
      </tr>
    </tbody>

  </table>
</md-tab>
