﻿@* teacher survey List
*@
<div>
  <table class="books table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th class="colhdr">Date</th>
        <th class="colhdr gray-left-border">Type</th>
        <th class="colhdr gray-left-border">Position No</th>
        <th class="colhdr gray-left-border">{{"School No" | vocab}}</th>
        <th class="colhdr gray-left-border">Role</th>
        <th class="colhdr gray-left-border">Salary Pt</th>     
        <th class="colhdr gray-left-border">End Date</th>
        <th class="colhdr gray-left-border">Flag</th>
        <th class="colhdr gray-left-border">Note</th>
        @*<th class="colhdr gray-left-border">Has Note</th>*@
        <th class="colhdr gray-left-border">Role Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="a in vm.appointments">
        <td>{{a.taDate | date:"d-MMM-yyyy"}}</td>
        <td>{{a.taType}}</td>
        <td>{{a.estpNo}}</td>
        <td>{{a.SchNo}}</td>
        <td>{{a.taRole}}</td>
        <td>{{a.spCode}}</td>
        
        <td>{{a.taEndDate | date:"d-MMM-yyyy"}}</td>
        <td>{{a.taFlag}}</td>
        <td>{{a.taNote}}</td>
        @*<td>{{a.taHasNote}}</td>*@
        <td>{{a.taRoleGrade}}</td>
      </tr>
    </tbody>
  </table>
</div>