﻿@model Softwords.Web.Models.TitledView

<div layout="row" layout-align="center center" style="min-height: 70%">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33" aria-label="Forgot password page">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Oups, Forgot your password!</h2>
      </div>
    </md-toolbar>
    <md-card-header layout="column">
      <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Logo" />      
    </md-card-header>
    <md-card-content>
      <p>
        Enter the email address you use to sign in to @Model.Title. Instructions on how to reset your password will be sent to this email.
      </p>
      <form class="form-horizontal" ng-submit="vm.doForgotPassword()">
        <section layout="column" aria-label="email address">
          <md-input-container>
            <input type="email" id="email" name="email" placeholder="Your email" ng-model="vm.email"
                   aria-label="your email address"
                   required>
            <div ng-messages="form.email.$error">
              <ng-message when="pattern">Not a valid email address</ng-message>
              <ng-message when="email">Not a valid email address</ng-message>
            </div>
          </md-input-container>
        </section>
        <div layout="row">
          <md-button type="submit" class="md-primary md-raised"
                     ng-disabled="form.$invalid || vm.inProcess||vm.processState == 'Request sent'"
                     flex>
            {{vm.processState}}
            <i class="fa fa-spinner spinning" ng-show="vm.inProcess" aria-hidden="true"></i>
          </md-button>
          <md-button ng-click="vm.gotoSignin()">Return to login page</md-button>
        </div>
        @*<div class="form-actions">
        <i class="icon-spinner icon-spin icon-large"></i>
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || vm.inProcess">
          {{vm.processState}} <i class="fa fa-spinner spinning" ng-show="vm.inProcess" aria-hidden="true"></i>
        </button>
      </div>*@
      </form>
    </md-card-content>
</div>
