﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-question-circle"></i>
}

@section title {
  <h3>Successfully created {{vm.entity._type()}} {{vm.entity._id()}}: {{vm.entity._name()}}</h3>
}

@section tools {
}

<p>Add another {{vm.entity._type()}}?</p>

@section actions {
  <md-button class="md-raised md-primary" type="button" ng-click="vm.close('create')">Ok</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">No</md-button>
}
