﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Save Errors</h3>
}

@section tools {
}

<p>An error occurred saving the record:</p>
<ul>
  <li>{{vm.errorInfo.data.Message}}</li>
</ul>

@section actions {
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">Try again</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}
