﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Server Error</h3>
}

@section tools {
}

<p>An error occurred on the server: {{vm.errorInfo.message}} This may or may not have affected your operation. You must contact your data and information systems office immediately to show them this error.</p>


@section actions {
  <md-button class="md-raised" type="button" ng-click="vm.close()">Close</md-button>
}
