﻿@section icon {
  fa fa-institution
}

@section title {
  {{vm.isNew? 'New Teacher': 'Teacher ' + vm.model.tID + ': ' + vm.model.tFullName }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @*<md-tab label="Dashboard" ng-disable="vm.isNew">

      <md-content flex layout-padding>
        <p>
          Some web analytics to provide you with an "at a glance" of the teacher's performance.
          This is under current development and will be coming up live in the months to come.
        </p>
      </md-content>

      <md-content layout-xs="column" layout="row">

        <div flex-xs flex-gt-xs="25">
          <md-card md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Latest Survey Available</span>
                <span class="md-subhead">Survey submission up-to-date</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-toolbar md-colors="{background: 'green-100'}">
                <div class="md-toolbar-tools" layout-align="center center" layout="column">
                  {{vm.model.LatestSurvey.svyYear}}
                </div>
              </md-toolbar>
            </md-card-content>
          </md-card>
        </div>

      </md-content>

    </md-tab>*@

    <md-tab label="Teacher Info">
      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-sm="row">
                @* display image of teacher with upload field tImage *@
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Teacher ID</label>
                  <input type="text" ng-model="vm.model.tID" ng-disabled="!vm.isNew" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"EmployNo" | vocab }}</label>
                  <input type="text" ng-model="vm.model.tPayroll" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Given Name</label>
                  <input type="text" ng-model="vm.model.tGiven" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Middle Names</label>
                  <input type="text" ng-model="vm.model.tMiddleNames" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Surname</label>
                  <input type="text" ng-model="vm.model.tSurname" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Gender</label>
                  <lookup-selector lkp="gender" ng-model="vm.model.tSex" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Major Language</label>
                  <lookup-selector lkp="languages" ng-model="vm.model.tLangMajor" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Minor Language</label>
                  <lookup-selector lkp="languages" ng-model="vm.model.tLangMinor" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Status" | vocab }}</label>
                  <lookup-selector lkp="teacherRegStatus" ng-model="vm.model.tRegisterStatus" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date of Birth</label>
                  <md-datepicker ng-model="vm.model.tDOB" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Comment</label>
                  <input type="text" ng-model="vm.model.tComment" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Registration</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Date Registered" | vocab }}</label>
                  <md-datepicker ng-model="vm.model.tDateRegister" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Date Registered End" | vocab }}</label>
                  <md-datepicker ng-model="vm.model.tDateRegisterEnd" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Register End Reason" | vocab }}Register End Reason</label>
                  <input type="text" ng-model="vm.model.tRegisterEndReason" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
              </div>

            </form>
          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Appointments" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          An <span class="md-hue2">appointment</span> records an administrative decision to post a teacher to a school to fill a specific role
          ('class teacher', 'principal' etc). You can view and record appointments here. This is a more advanced usage of teacher appointment planning
          not currently in use.
        </p>
      </md-content>

      <component-teacher-appointment-list appointments="vm.model.Appointments"></component-teacher-appointment-list>
    </md-tab>

    @* there is no need to edit surveys once loaded, so they can be disabled if the list is empty
    note that other pages are disabled only on isNew
    *@
    <md-tab label="Surveys" ng-disabled="!vm.model.Surveys.length">

      <md-content flex layout-padding>
        <p>
          This Tab displays <span class="md-hue2">teacher information</span> collected in the annual survey (i.e. workbook).
          While an appointment records a <em>plan</em>, the survey records the <em>actual</em> location of the teacher, and the role they are performing.
          The survey can therefore be used to verify that appointments have been implemented.
        </p>
      </md-content>

      <component-teacher-survey-list surveys="vm.model.Surveys"></component-teacher-survey-list>
    </md-tab>

    <md-tab label="Qualifications" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          Any number of qualifications can be recorded for a teacher. As a cross-check, the annual survey (i.e. workbook)
          records the highest qualification and certification of each teacher.
        </p>
      </md-content>

      <component-teacher-qualification-list qualifications="vm.model.Qualifications"
                                            teacher="vm.model"></component-teacher-qualification-list>
    </md-tab>

    <md-tab label="Documents" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>
          You can archive any number of documents for a teacher (e.g. academic transcript, performance evaluation hard copy, teacher profile photo)
        </p>
      </md-content>

      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>

    @*list of reports served from Jasper report server*@
    <md-tab label="Reports" ng-disabled="vm.isNew">

      <md-content flex layout-padding>
        <p>A list of reports you can generate for this teacher.</p>
      </md-content>

      <report-list folder="Teacher" context="{TeacherID: vm.model.tID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
