﻿@section title {
  NET ENROLMENT RATE (NER)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Net Enrolment Rate (NER)</p>
      <h2>Definition</h2>
      <p>
        Enrolment of the official age group for a given level of education expressed as a percentage of the
        corresponding population.
      </p>
      <h2>Purpose</h2>
      <p>
        To show the extent of coverage in a given level of education of children and youths belonging to the
        official age group corresponding to the given level of education.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of pupils (or students) enrolled who are of the official age group for a given
        level of education by the population for the same age group and multiply the result by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Enrolment by single years of age for a given level of education. Population of the age group
        corresponding to the given level of education.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on enrolment
        by age; population censuses or estimates for school-age population
        normally obtained from the central statistical office. A bi-annually
        school census is used by all schools and in some cases some urban schools starting to
        adopt a Student Information System also The indicators
        are currently all calculated based on a consistent data collection
        tool (i.e. the school census). The population census and projection used depends on the country
        but the system can produce all results based on one or more difference population sources.
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender, geographical location (region, urban/rural) and by
        level of education. The disaggregation supported are by gender, type of
        schools and by geographical location (i.e. Atolls and Islands of
        Marshall Islands) and levels of education.  However, currently only
        the gender, nation and levels of education cohorts are supported since
        population projection by Atolls and Islands is not yet available and
        the disgreggation by school type feature is not yet exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        NER at each level of education should be based on enrolment of the relevant age group in all
        types of schools and education institutions, including public, private and all other institutions that provide organized
        educational programmes.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A high NER denotes a high degree of coverage for the official school-age population. The
        theoretical maximum value is 100%. Increasing trends can be considered as reflecting improving coverage at the
        specified level of education. When the NER is compared with the GER, the difference between the two highlights the
        incidence of under-aged and over-aged enrolment. If the NER is below 100%, then the complement, i.e. the
        difference with 100%, provides a measure of the proportion of children not enrolled at the specified level of
        education. However, since some of these children/youth could be enrolled at other levels of education, this difference
        should in no way be considered as indicating the percentage of students not enrolled. To measure universal primary
        education, for example, adjusted primary NER is calculated on the basis of the percentage of children in the official
        primary school age range who are enrolled in either primary or secondary education. A more precise complementary
        indicator is the age-specific enrolment ratio (ASER) which shows the participation in education of the population of
        each particular age, regardless of the level of education.
      </p>
      <h2>Limitations</h2>
      <p>
        For tertiary education, this indicator is not pertinent because of the difficulties in determining an
        appropriate age group due to the wide variations in the duration of programmes at this level of education. As regards
        primary and secondary education, difficulties may arise when calculating an NER that approaches 100% if:
      </p>
      <ol>
        <li>
          the reference date for entry to primary education does not coincide with the birth dates of all of the cohort
          eligible to enrol at this level of education;
        </li>
        <li>a significant portion of the population starts primary school earlier than the prescribed age and consequently</li>
        finishes earlier as well;
        <li>there is an increase in the entrance age to primary education but the duration remains unchanged.</li>
      </ol>
      <p>
        N.B. Although the NER cannot exceed 100%, values up to 105% have been obtained reflecting inconsistencies in the
        enrolment and/or population data.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
