﻿@section icon {
  fa fa-graduation-cap
}

@section title {
  {{vm.isNew? 'New Student': 'Student: ' + vm.model.stuGiven + ' ' + vm.model.stuFamilyName }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    @*<md-tab label="Dashboard" ng-disable="vm.isNew">
        <div class="row">
        </div>
      </uib-tab>*@

    <md-tab label="Student Info">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Student ID</label>
                  <input type="text" ng-model="vm.model.stuID" ng-disabled="true" required />
                </md-input-container>
                </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Student Card ID</label>
                  <input type="text" ng-model="vm.model.stuCardID" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                @*<md-input-container class="md-block" flex-gt-sm>
                  <label>Name Prefix</label>
                  <input type="text" ng-model="vm.model.stuNamePrefix" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name Suffix</label>
                  <input type="text" ng-model="vm.model.stuNameSuffix" ng-disabled="!vm.isEditing" />
                </md-input-container>*@

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Given Name</label>
                  <input type="text" ng-model="vm.model.stuGiven" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                @*<md-input-container class="md-block" flex-gt-sm>
                  <label>Given Name Soundex</label>
                  <input type="text" ng-model="vm.model.stuGivenSoundex" ng-disabled="!vm.isEditing" required />
                </md-input-container>*@

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Middle Names</label>
                  <input type="text" ng-model="vm.model.stuMiddleNames" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Family Name</label>
                  <input type="text" ng-model="vm.model.stuFamilyName" ng-disabled="!vm.isEditing" />
                </md-input-container>

                @*<md-input-container class="md-block" flex-gt-sm>
                  <label>Family Name Soundex</label>
                  <input type="text" ng-model="vm.model.stuFamilySoundex" ng-disabled="!vm.isEditing" />
                </md-input-container>*@
              </div>              

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Gender</label>
                  <lookup-selector lkp="gender" ng-model="vm.model.stuGender" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Ethnicity</label>
                  <lookup-selector lkp="ethnicities" ng-model="vm.model.stuEthnicity" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Date of Birth</label>
                  <md-datepicker ng-model="vm.model.stuDoB" ng-disabled="!vm.isEditing"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <md-checkbox ng-model="vm.model.stuDoBEst" ng-disabled="!vm.isEditing">Is the Date of Birth Estimated?</md-checkbox>
                </md-input-container>
              </div>              

              <div layout-gt-xs="row">
                <div class="alert alert-info alert-smaller" role="alert" typeof="info"><strong>Last Saved:</strong> {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</div>
              </div>

            </form>
          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Enrollment List" ng-disable="vm.isNew">
      <component-student-enrollment-list enrollments="vm.model.Enrollments"></component-student-enrollment-list>
    </md-tab>

    @*<md-tab label="Scorecards" ng-disable="!vm.model.Surveys.length">
      <component-scorecards-list scorecards="vm.model.Scorecards"></component-scorecards-list>
    </md-tab>
    
    <md-tab label="Documents">
      <component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
    </md-tab>*@

    <md-tab label="Reports">
      <report-list folder="Student" context="{StudentID: vm.model.stuID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
    </md-tab>

  </md-tabs>

  <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />
</div>
